@model EasySettle.Models.Property

@{
    ViewData["Title"] = "Check Photos";
    int propertyId = (int)ViewData["PropertyID"];
    var blobUrls = ViewData["BlobUrls"] as List<string>;
}

<h1>Photos for Property @propertyId</h1>

<div class="row">
    @if (blobUrls != null && blobUrls.Any())
    {
        foreach (var url in blobUrls)
        {
            <div class="col-md-4 col-sm-6">
                <div class="photo-item mb-3">
                    <img src="@url" alt="Property Image" class="img-max-size"/>
                </div>
            </div>
        }
    }
    else
    {
        <p>No photos available for this property.</p>
    }
</div>

<style>
    .img-max-size {
        width: 100%; /* Take full width of the column */
        height: auto; /* Maintain the aspect ratio */
        min-width: 350px; /* Minimum width to ensure visibility on smaller screens */
        object-fit: scale-down; /* Scale down if necessary but never up beyond the original size */
    }
    .photo-item {
        padding: 5px; /* Padding to prevent images from sticking to each other */
        align-items: center; /* Center the image vertically */
        justify-content: center; /* Center the image horizontally */

    }
</style>
