<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasySettle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous">   
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-warning border-3 border-bottom p-5 mb-5">
        <div class="container-xl">
            <a class="navbar-brand text-warning fw-bold fs-2" asp-area="" asp-controller="Home" asp-action="Index">EasySettle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" 
                                    asp-area="" asp-controller="Manage" asp-action="Profile" title="Profile">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Your Lists</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Property" asp-action="Create">Post</a></li>
                        </ul>
                        </div>                        
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - EasySettle - <a class="text-warning" style="color: inherit;" 
        asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous">
</script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
