@model easySettle.Models.Properties

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Properties</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPrice" class="control-label"></label>
                <input asp-for="RentPrice" class="form-control" />
                <span asp-validation-for="RentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rooms" class="control-label"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BathRooms" class="control-label"></label>
                <input asp-for="BathRooms" class="form-control" />
                <span asp-validation-for="BathRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lon" class="control-label"></label>
                <input asp-for="Lon" class="form-control" />
                <span asp-validation-for="Lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sqft" class="control-label"></label>
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PetFriendly" /> @Html.DisplayNameFor(model => model.PetFriendly)
                </label>
            </div>
           @*  <div class="form-group">
                <label asp-for="AmenitiesId" class="control-label"></label>
                <select asp-for="AmenitiesId" class="form-control" asp-items="ViewBag.AmenitiesId"></select>
                <span asp-validation-for="AmenitiesId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="PropertyTypeId" class="control-label"></label>
                <select asp-for="PropertyTypeId" class="form-control" asp-items="ViewBag.PropertyTypeId"></select>
                <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="BuildingAmenitiesId" class="control-label"></label>
                <select asp-for="BuildingAmenitiesId" class="form-control" asp-items="ViewBag.BuildingAmenitiesId"></select>
                <span asp-validation-for="BuildingAmenitiesId" class="text-danger"></span>
            </div *@>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enable" /> @Html.DisplayNameFor(model => model.Enable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
