@model IEnumerable<easySettle.Models.Properties>

<button type="button" class="btn btn-primary btn-lg">Advanced Search</button>
<br />
<div class="property-list scrollable-list">
    <h4>Property List</h4>
    <ul class="list-group">
        <li class="list-group-item">
            <img src="https://placehold.co/300x200.png" alt="Property 1" class="img-thumbnail">
            <h4>Property 1</h4>
            <h6>Price: $500,000</h6>
            <h6>Square Size: 1500 sqft</h6>
        </li>
        <li class="list-group-item">
            <img src="https://placehold.co/300x200.png" alt="Property 2" class="img-thumbnail">
            <h4>Property 2</h4>
            <h6>Price: $700,000</h6>
            <h6>Square Size: 2000 sqft</h6>
        </li>
        <li class="list-group-item">
            <img src="https://placehold.co/300x200.png" alt="Property 1" class="img-thumbnail">
            <h4>Property 1</h4>
            <h6>Price: $500,000</h6>
            <h6>Square Size: 1500 sqft</h6>
        </li>
        <li class="list-group-item">
            <img src="https://placehold.co/300x200.png" alt="Property 2" class="img-thumbnail">
            <h4>Property 2</h4>
            <h6>Price: $700,000</h6>
            <h6>Square Size: 2000 sqft</h6>
        </li>
    </ul>
</div>
